[submodule "framework/beaba"]
	path = framework/beaba
	url = https://github.com/ichiriac/beaba.git
[submodule "framework/laravel"]
	path = framework/laravel
	url = https://github.com/laravel/laravel.git
[submodule "framework/zf2"]
	path = framework/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "framework/symfony"]
	path = framework/symfony
	url = https://github.com/symfony/symfony.git
[submodule "framework/tcpdf"]
	path = framework/tcpdf
	url = https://github.com/tecnickcom/TCPDF
[submodule "framework/evernote-cloud-sdk-php"]
	path = framework/evernote-cloud-sdk-php
	url = https://github.com/evernote/evernote-cloud-sdk-php.git
[submodule "framework/yii2"]
	path = framework/yii2
	url = https://github.com/yiisoft/yii2.git
[submodule "framework/CodeIgniter"]
	path = framework/CodeIgniter
	url = https://github.com/bcit-ci/CodeIgniter.git
[submodule "framework/magento1"]
	path = framework/magento1
	url = https://github.com/bragento/magento-core
[submodule "framework/magento2"]
	path = framework/magento2
	url = https://github.com/magento/magento2
[submodule "framework/opencart"]
	path = framework/opencart
	url = https://github.com/opencart/opencart.git
[submodule "framework/php-langspec"]
	path = framework/php-langspec
	url = https://github.com/glayzzle/php-langspec.git
[submodule "framework/cakephp"]
	path = framework/cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "framework/wordpress"]
	path = framework/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "framework/drupal"]
	path = framework/drupal
	url = https://github.com/drupal/drupal
[submodule "framework/htmlpurifier"]
	path = framework/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "framework/yii1"]
	path = framework/yii1
	url = https://github.com/yiisoft/yii.git
[submodule "framework/aws-sdk-php"]
	path = framework/aws-sdk-php
	url = https://github.com/aws/aws-sdk-php.git
