[submodule "framework/beaba"]
	path = framework/beaba
	url = https://github.com/ichiriac/beaba.git
[submodule "framework/laravel"]
	path = framework/laravel
	url = https://github.com/laravel/laravel.git
[submodule "framework/zf2"]
	path = framework/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "framework/symfony"]
	path = framework/symfony
	url = https://github.com/symfony/symfony.git
[submodule "framework/tcpdf"]
	path = framework/tcpdf
	url = https://github.com/tecnickcom/TCPDF
[submodule "framework/evernote-cloud-sdk-php"]
	path = framework/evernote-cloud-sdk-php
	url = https://github.com/evernote/evernote-cloud-sdk-php.git
