[submodule "framework/beaba"]
	path = framework/beaba
	url = https://github.com/ichiriac/beaba.git
[submodule "framework/laravel"]
	path = framework/laravel
	url = https://github.com/laravel/laravel.git
[submodule "framework/zf2"]
	path = framework/zf2
	url = https://github.com/zendframework/zf2.git
